*{
    margin:0;
    padding:0;
}

body{
        font-family: font77724;
    }


/* Formatting search box */
.search-box{
        width: 300px;
        position: relative;
        display: inline-block;
        font-size: 14px;
    }
.search-box input[type="text"]{
        height: 32px;
        padding: 5px 10px;
        border: 1px solid #CCCCCC;
        font-size: 14px;
            }
.result{
        position: absolute;        
        z-index: 999;
        top: 100%;
        left: 0;
            }
.search-box input[type="text"], .result{
        width: 100%;
        box-sizing: border-box;
            }


/* Formatting result items */
.result p{
        margin: 0;
        padding: 7px 10px;
        border: 1px solid #CCCCCC;
        border-top: none;
        cursor: pointer;
        }
.result p:hover{
        background: #f2f2f2;
        }

div#container {
    position:absolute;
    /*height:1400px;*/
    right: 20px;
    top:0;
    width: 400px;
    border: solid #CCC 1px;
}

p.notes {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        position: absolute;
        left: 15px;
        top:250px;
        font-size: 0.5em;
        color:#ccc;
}



.date {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin-top:4%;
}

.date .dateTips {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.date .dateTips::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.date:hover .dateTips {
    visibility: visible;
}




p.verticalSushi {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-size: 0.7em;
        color:#ccc;
        float:right;
        padding-bottom: 20px;
}

p.verticalSashimi {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-size: 0.7em;
        color:#ccc;
        float:right;
        padding-bottom: 20px;
}

img#fish{
    transform: rotate(90deg);
    margin-bottom:10px;
}

div#menu {
    width:90%;
    display: block;
    margin:auto;
    padding-bottom: 10%;
    padding-left: 10%;
}

h1{
    text-align: left;
    padding-left:2%;
    margin:2%;          
    color: #ED521B;
    float: left;
    clear:left;
}

h2{
    text-align: left;
    padding-left:2%;
    margin:2%;          
    color: #ED521B;
    float: left;
}

/*
h1{
    font-size:1.5em;
}

h2{
    font-size:1.23em;
}
*/
table#showResult{
    display:block;
    margin:auto;
    width:100%;
    /*font-size: .69em;*/
}

td{
    vertical-align: center;
}

tr:hover {background-color: #f5f5f5}

td.name{
    display:inline;
    text-align: left;
}

td.origin{
    display:inline;
    color:#ccc;
}
td.price{
    text-align: right;
    padding: 0 2% 0 2%;
}



div.gratuity{
    width:80%;
    display:block;
    margin:auto;
    font-size: .43em;
    bottom:2%;
}
