*{
    margin:0;
    padding:0;
}

body{
        /*TheSans*/
        font-family: font77724;
        font-weight: normal;
    }

div#nav{display: none;}
/* Formatting search box */
.search-box{
        display:none;
    }

a {display:none;}

.date {display:none;}

div#container {
    width: 100%;
    /*border: solid 1px #C25E03;*/
    max-height:100vh;
}

p.notes {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        position: absolute;
        left: 15px;
        top:250px;
        font-size: 0.5em;
        color:#ccc;
}

p.verticalSushi {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-size: 0.7em;
        color:#ccc;
        float:right;
        padding: 0 0 20px 8px;
}

p.verticalSashimi {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-size: 0.7em;
        color:#ccc;
        float:right;
        padding: 0 0 9px 13px;
}

img#fish{
    transform: rotate(90deg);
     margin-bottom:10px;
}

div#menu {
    display:block;
    width:85%;
    margin: auto;
    margin:2%;
    margin-top:10%;
    padding:2%;
    margin-left:8%;
   /* border: solid 1px Blue;*/
}

div#menu_up {
    display:block;
    width:85%;
    margin: auto;
    margin:2%;
    margin-top:5%;
    padding:2%;
    margin-left:8%;
   /* border: solid 1px Blue;*/
}

h1, h2{
    text-align: left;
    padding-left:2%;
    margin:2%;          
    color:#CF671F;
    
}

h1{
    float: left;
}

/*h2{ font-family:Arial, Helvetica, sans-serif; }

h1{
    font-size:1.5em;
}

h2{
    font-size:1.23em;
}
*/
table#showResult{
    /*border: solid 1px Blue;*/
    display:block;
    margin:auto;
    width:100%;
    clear: both;
}

tr{
    vertical-align: center;
    font-size:0.9em;
}
tr.tableRow{
    line-height:30px;
}

td.name{
    display:inline;
    text-align: left;
}

td.origin{
    display:inline;
    color:#ccc;
}
td.price{
    /*TheMix
    font-family: font84093;
    font-family:Arial, Helvetica, sans-serif;*/
    text-align: right;
    padding: 0 2% 0 2%;
}
td.space{width:10px;}


.NoMargin{
    margin:0 2% 0 2%;
}
/*Menu items more than 34*/
.lineHeight34{
    line-height:24px;
}

.lineHeight40{
    line-height:22px;
    font-size: 0.85em;
}
.lineHeight38{
    line-height:20px;
}
.lineHeight43{
    line-height:20px;
}

.lineHeight44{
    line-height:19px;
}




div.gratuity{
    width:70%;
    margin-left:5%;
    font-size: .5em;
    position: absolute;
    bottom:3%;
    text-align: justify;
    line-height: 1em;
}

@page {
   size: 4.25in 14in;
   margin: 0;
}