*{
    margin:0;
    padding:0;
}

body{
        font-family: font77724;
    }


/* Formatting search box */
.search-box{
        display:none;
    }

a {display:none;}

input {display:none;}

div#container {
    width: 100%;
    /*border: solid 1px #ED521B;*/
    max-height:100vh;
}

p.notes {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        position: absolute;
        left: 15px;
        top:250px;
        font-size: 0.5em;
        color:#ccc;
}

p.verticalSushi {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-size: 0.7em;
        color:#ccc;
        float:right;
        padding-bottom: 20px;
}

p.verticalSashimi {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-size: 0.7em;
        color:#ccc;
        float:right;
        padding-bottom: 20px;
}

img#fish{
    transform: rotate(90deg);
     margin-bottom:10px;
}

div#menu {
    display:block;
    width:85%;
    margin: auto;
    margin:2%;
    padding:2%;
    margin-left:10%;
    /*border: solid 1px Blue;*/
}

h1, h2{
    text-align: left;
    padding-left:2%;
    margin:2%;          
    color: #ED521B;
    
}

h1{
    float: left;
}
/*
h1{
    font-size:1.5em;
}

h2{
    font-size:1.23em;
}

table#showResult{
    display:block;
    margin:auto;
    width:100%;
    font-size: .69em;
}
*/
tr.tableRow{
    line-height:30px;
    vertical-align: center;
    font-size:0.9em;
}

td.name{
    display:inline;
    text-align: left;
}

td.origin{
    display:inline;
    color:#ccc;
}
td.price{
    text-align: right;
    padding: 0 2% 0 2%;
}

/*Menu items more than 37*/
.NoMargin{
    margin:0 2% 0 2%;
}

.lineHeight34{
    line-height:26px;
}

.lineHeight36{
    line-height:22px;
}
.lineHeight38{
    line-height:20px;
}
.lineHeight40{
    line-height:16px;
}

.lineHeight42{
    line-height:14px;
}




div.gratuity{
    width:70%;
    margin-left:5%;
    font-size: .43em;
    position: absolute;
    bottom:2%;
    text-align: center;
}

@page {
   size: 4.25in 14in;
   margin: 0;
}