*{
    margin:0;
    padding:0;
}


@font-face {
    font-family: 'TheSansSemiBoldPlain'; 
    src: url('http://ayumik.com/menu-app/css/TheSansSemiBoldPlain.ttf'); 
}


body{
        /*TheSans*/
        font-family: TheSansSemiBoldPlain;
        /*font-family: font91728;*/
        font-weight: lighter;
        font-size: 1em;
    }

button#search ,#item_box, 
button.edit, 
#edit_div, button#close_tab,
div#nav, .search-box,
a, .date, div#trash, #footer{display:none;}

div#container {
    width: 100%;
    /*border: solid 1px #C25E03;*/
    max-height:100vh;
}

p.notes {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        position: absolute;
        left: 15px;
        top:250px;
        font-size: 0.5em;
        color:#ccc;
}

p.verticalSushi {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-size: 0.7em;
        color:#ccc;
        float:right;
        padding: 0 0 10px 25px;
}

p.verticalSashimi {
        writing-mode: tb-rl;
        transform: rotate(-180deg);
        font-size: 0.7em;
        color:#ccc;
        float:right;
        padding: 0 0 0 15px;
}

img#fish-vertical{
    transform: rotate(90deg);
     margin-bottom:10px;
}

div#menu {
    display:block;
    width:85%;
    margin: auto;
    margin:2%;
    margin-top:10%;
    padding:2%;
    margin-left:8%;
    /*border: solid 1px Blue;*/
    height:1195px;
}

div#menu_up {
    display:block;
    width:85%;
    margin: auto;
    margin:2%;
    margin-top:5%;
    padding:2%;
    margin-left:8%;
    /*border: solid 1px Blue;*/
}

h1, h2{
    text-align: left;
    padding-left:2%;
    margin:2%;          
    color:#CF671F;
    font-weight: lighter;
}

h1{
    float: left;
}

h2{ 
    /*font-family: myriad-pro, sans-serif;*/
    font-style: normal;
    font-weight: 400;
}
/*
h1{
    font-size:1.5em;
}

h2{
    font-size:1.23em;
}
*/
table#showResult{
    /*border: solid 1px Blue;*/
    display:block;
    margin:auto;
    width:100%;
    clear: both;
}

tr{
    vertical-align: center;
    font-size:0.9em;
}
table.style{
    line-height:30px;
}

td.sustainable{
    width:17px;
}

td.name{
    display:inline;
    text-align: left;
}

td.origin, td.origin_small{
    display:inline;
    color:#ccc;
}

td.origin_small{
    font-size: 0.7em;
}

td.price{
    /*TheMix
    font-family: font84093;
    font-family:Arial, Helvetica, sans-serif;*/
    text-align: center;
    padding: 0 2% 0 3%;
}
td.space{width:8px;}


.NoMargin{
    margin:0 2% 0 2%;
}
/*Menu items more than 34 less than 36*/
.lineHeight34{
    line-height:28px;
}
/*Menu items more than 37 less than 38*/
.lineHeight37{
    line-height:26px;
    
}
/*Menu items more than 39 less than 41*/
.lineHeight39{
    line-height:24px;
}
/*Menu items more than 42 less than 44*/
.lineHeight42{
    line-height:22px;
}

.lineHeight45{
    line-height:20px;
}




div.gratuity{
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    width:70%;
    margin-left:5%;
    font-size: .6em;
    position: absolute;
    bottom:3%;
    text-align: justify;
    line-height: 1em;
}



/**ippin page***/
#gf{
    display: inline-block;
    vertical-align: top;
    font-size: .8em;
    width: 33px;
    /*padding-top: 5px;*/
}

#ippin_menu{
    display: inline-block;
    width:88%;
    line-height: 1.2em;
    margin-left:5px;
}

li.sortable {
    margin: 11px 0;
    list-style: none;
}


img#fish {
    display: block;
    float: right;
    margin-top: 5px;
}
/*
div#appetizer{
    border: 1px solid blue;
}
*/
h1#ippin{
    float: none;
    margin-bottom: 20px;
}

#show_result_ippin{
    display:block;
    margin:auto;
    width:100%;
    /*border: solid 1px orange; */
    max-height: 100%
}
/*
#show_result_ippin ul.changed_height1{
    line-height: 0.6em;
}
#show_result_ippin ul.changed_height2{
    line-height: 0.6em;
}
#show_result_ippin ul.changed_height2 li{
    margin: 8px 0;
}
#show_result_ippin ul.changed_height3{
    line-height: 0.6em;
}
#show_result_ippin ul.changed_height3 li{
    margin: 5px 0;
}
div#menu.changed_height3{
    margin-top:5%;
}
h1.changed_height3{
    margin:0 2%;
} 
h2.changed_height3{
    margin:0 2%;
}
div.gf_changed_height3{
    padding-top:10px;
}
*/

/***Rolls***/
div#roll_description{
    color: #ccc;
    margin-left: 20px;
}

h1.rolls{
    text-align: left;
    padding-left:2%;
    margin:2%;          
    color:#CF671F;
    float: none;
}

#show_result_rolls{
    display:block;
    margin:auto;
    width:100%;
    max-height: 100%
}

ddiv#show_result_rolls div#gf{
    display: inline-block;
    vertical-align: top;
    width: 17px;
}

div#roll_description {
    font-size: .9em;
    
}


/***course meals***/
div.additionals::after{
    content: " ";
    height: 0;
    display: block;
    clear:both;
}



@page {
   size: 4.25in 14in;
   margin: 0;
}


/***lunch menu***/
h3{
    font-size:1em;
    font-weight: lighter;
}